// CONFIGURATION FILE


// Pipeline parameter default values, can be modified by user when calling pipeline on command line (e.g. --data_fq sample_1.fastq) ##
params.illumina_data = 'None'
params.ref = 'None'
params.housekeeping = 'None'
params.annotation = 'None'
params.out_dir = "output_directory/"
params.overhang = "149"
params.transcriptome = "None"


process { 
    

    withLabel: tiny {
        executor='slurm'
        clusterOptions='--partition normal --time 00:15:00 --account coa_mteb223_uksr --nodes 1 --ntasks 4 --mem 20G'
    }



    withLabel: small {
        executor='slurm'
        clusterOptions='--partition normal --time 1:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 8 --mem 40G'
    }



    // Define job scheduler parameters for jobs that require lots of computation/memory ##

    withLabel: medium_small {
        
        executor='slurm'
        clusterOptions='--partition normal --time 23:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 12 --mem 48G'
        }


    // Define job scheduler parameters for jobs that require normal ammounts of computation/memory ##

    withLabel: medium {
        executor='slurm'
        clusterOptions='--partition normal --time 23:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 16 --mem 64G'
        }

    withLabel: medium_large {
        executor='slurm'
        clusterOptions='--partition normal --time 23:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 20 --mem 80G'
    }

    withLabel: large {
        executor='slurm'
        clusterOptions='--partition normal --time 23:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 50 --mem 200G'
    }

    withLabel: huge {
        executor='slurm'
        clusterOptions='--partition normal --time 23:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 8 --mem 500G'
    }

    withLabel: local {
        executor='local'
    }

    // Define the singularity containers for each process

    // Illumina
    withName: "(TRIM_GALORE|DECOMPRESS|MAKE_STAR_INDEX|STAR_MAPPING|RSEM_PREP|RSEM_QUANT|SALMON_ALIGNMENT_MODE)"{
        container = "library://ebbertlab/nanopore_cdna/illumina:sha256.78e0187fc5edf8204a2fc8c0e2405144299cdf58abbc4071e535d7260b0663fa"
        
    }
}



// Define executor type and maximum queue size for jobs at once ##

executor {

    name="slurm"
    queueSize = 50
}

// Point to singularity image with the tools necessary to run the pipeline

singularity {
    
    enabled = true  

}

