// CONFIGURATION FILE


// Pipeline parameter default values, can be modified by user when calling pipeline on command line (e.g. --data_fq sample_1.fastq) ##
params.illumina_data = '/mnt/gpfs3_amd/condo/mteb223/bag222/data/cdna_comparison_project/2019_illumina_data/*_R{1,2}*.fastq.gz'
params.ont_reads_fq = '/mnt/gpfs3_amd/condo/mteb223/bag222/data/cdna_comparison_project/2019_ont_data/*.fastq'
params.ont_reads_txt = '/mnt/gpfs3_amd/condo/mteb223/bag222/data/cdna_comparison_project/2019_ont_data/*.txt'
params.ill_reads_fq = '/mnt/gpfs3_amd/condo/mteb223/bag222/data/cdna_comparison_project/2019_illumina_data/*_R{1,2}*.fastq.gz'
params.ref = '../ont_references/Homo_sapiens.GRCh38.dna.primary_assembly.fa'
params.gtf = '../ont_references/Homo_sapiens.GRCh38.104.gtf'
params.is_chm13 = "False"
params.out_dir = "output_directory/"

process { 
    

    withLabel: tiny {
        executor='slurm'
        clusterOptions='--partition normal --time 00:15:00 --account coa_mteb223_uksr --nodes 4 --ntasks 4 --mem 20G'
    }



    withLabel: small {
        executor='slurm'
        clusterOptions='--partition normal --time 1:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 8 --mem 40G'
    }



    // Define job scheduler parameters for jobs that require lots of computation/memory ##

    withLabel: medium_small {
        
        executor='slurm'
        clusterOptions='--partition normal --time 23:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 12 --mem 48G'
        }


    // Define job scheduler parameters for jobs that require normal ammounts of computation/memory ##

    withLabel: medium {
        executor='slurm'
        clusterOptions='--partition normal --time 23:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 16 --mem 64G'
        }

    withLabel: medium_large {
        executor='slurm'
        clusterOptions='--partition normal --time 23:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 20 --mem 80G'
    }


    // 
    withLabel: large {
        executor='slurm'
        clusterOptions='--partition normal --time 23:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 50 --mem 200G'
    }

    withLabel: huge {
        executor='slurm'
        clusterOptions='--partition jumbo --time 23:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 125 --mem 500G'
    }

}



// Define executor type and maximum queue size for jobs at once ##

executor {

    name="slurm"
    queueSize = 50
}

// Point to singularity image with the tools necessary to run the pipeline

singularity {
    
    enabled = true
    process.container = '/scratch/bag222/cdna_comparison/cDNA-comparison/cdna_nextflow_pipelines/singularity_container/cdna_pipe.sif'   

    
}

