// CONFIGURATION FILE

process { 
    

    withLabel: tiny {
        executor='slurm'
        clusterOptions='--partition normal --time 00:15:00 --account coa_mteb223_uksr --nodes 4 --ntasks 4 --mem 20G'
    }



    withLabel: small {
        executor='slurm'
        clusterOptions='--partition normal --time 1:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 8 --mem 40G'
    }



    // Define job scheduler parameters for jobs that require lots of computation/memory ##

    withLabel: medium_small {
        
        executor='slurm'
        clusterOptions='--partition normal --time 23:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 12 --mem 48G'
        }


    // Define job scheduler parameters for jobs that require normal ammounts of computation/memory ##

    withLabel: medium {
        executor='slurm'
        clusterOptions='--partition normal --time 23:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 16 --mem 64G'
        }

    withLabel: medium_large {
        executor='slurm'
        clusterOptions='--partition normal --time 23:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 20 --mem 80G'
    }


    
    withLabel: large {
        executor='slurm'
        clusterOptions='--partition normal --time 3-00:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 62 --mem 250G'
    }

    withLabel: huge {
        executor='slurm'
        clusterOptions='--partition jumbo --time 7-00:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 125 --mem 500G'
    }

    // Define job parameters for isonclust
    
    withLabel: isonclust {
        executor='slurm'
        clusterOptions='--partition jumbo --time 14-00:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 50 --mem 500G'
    }

     // Define job parameters for isonclust
    
    withLabel: isoncorrect {
        executor='slurm'
        clusterOptions='--partition jumbo --time 6-00:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 62 --mem 500G'
    }

    // Define job parameters for isonclust
    withLabel: pychopper {
        executor='slurm'
        clusterOptions='--partition normal --time 23:00:00 --account coa_mteb223_uksr --nodes 1 --ntasks 50 --mem 200G'
    }

   


}



// Define executor type and maximum queue size for jobs at once ##

executor {

    name="slurm"
    queueSize = 50
}

// Point to singularity image with the tools necessary to run the pipeline

singularity {
    
    enabled = true
    process.container = '/pscratch/mteb223_uksr/bag222/cdna_comparison/cDNA-comparison/cdna_nextflow_pipelines/singularity_container/cdna_pipe.sif'
    
}

