// CONFIGURATION FILE

process { 
    

    withLabel: tiny {
        executor='local'
    }

    withLabel: gpu {
        clusterOptions='--partition P4V12_SKY32M192_L --time 00:15:00 --account gol_mteb223_uksr --gres=gpu:1 --mem 16G'
    }

}


// Point to singularity image with the tools necessary to run the pipeline

singularity {
    
    enabled = true
    process.container = '/mnt/gpfs2_16m/pscratch/mteb223_uksr/bag222/cDNA-comparison/cdna_nextflow_pipelines/singularity_container/cdna_pipe.sif'   
    runOptions = '--nv'
    
}

executor {

    name="slurm"
    queueSize = 50
}

